@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles/globals.css */
:root {
  --bgColor: #f6f5ef;
  --bgWhiteColor: white;
  --orangeColor: #eb5424;
  --textColor: black;
  --socialTextColor: white;
  --grayTextColor: #606060;
  --formHover: white
  --grayColor: #303030;
  --borderColor: #d4d4d4;
  --githubBg: #232323;
  --linkedinBg: #e9e9e9;
  --facebookBg: #0866ff;
  --overlayColor: black;
}

.dark {
  --bgColor: #191919;
  --bgWhiteColor: black;
  --borderColor: #444444;
  --textColor: white;
  --socialTextColor: black;
  --grayTextColor: #d1d5db;
  --formHover: #3f3f46;
  --orangeColor: #eb5424;
  --grayColor: #d1d1d1;
  --githubBg: #1a1a1a;
  --linkedinBg: #2a2a2a;
  --facebookBg: #0057d8;
  --overlayColor: ""
}

/* FILTER CSS */
.filter-wrapper li button {
  color: #999999;
  padding: 8px 17px;
  display: block;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}

.filter-wrapper li button:focus,
.filter-wrapper li button:hover,
.filter-wrapper li button.selected {
  background: #eb5424;
  border-color: transparent;
  color: #ffffff;
}

/* ISOTOPE BOX CSS */
.fluid-img {
  width: 100%;
  height: 100%;
  min-height: 200px;
  display: block;
  object-fit: fill;
}
/* END PORTFOLIO */


/*  Blog */
.overlay {
  width: 100%;
  background-color: rgba(51, 51, 51, 0.7);
  position: absolute;
  top: 0;
  left: 0;
}

@layer components {
  .nav {
    @apply text-textColor hover:text-orangeColor transition-all tracking-widest;
  }

  .section-container {
    @apply px-5 md:px-10 2xl:px-80;
  }

  .section-padding {
    @apply py-16 sm:pt-24 md:pt-28;
  }

  .main-btn {
    @apply duration-500 ease-in bg-orangeColor text-white rounded-sm text-xs font-semibold py-1.5 px-4 hover:bg-white hover:text-orangeColor hover:border-orangeColor border border-transparent;
  }

  .tm-parent-label {
    @apply flex text-grayTextColor md:block flex-col;
  }

  .tm-info-label {
    @apply font-bold inline-block w-[130px];
  }

  .form-control {
    @apply bg-transparent border border-gray-600 rounded-sm shadow-none transition-formCustom focus:bg-formHover focus:text-textColor hover:bg-formHover hover:text-textColor;
  }

  .input_error {
    @apply text-red-600 leading-[125%] font-normal text-[12px] 2xl:text-[13px] mt-1 ms-[2px];
  }
}

@media screen and (max-device-width: 1024px) {
  .templatemo-home {
    background-attachment: scroll;
  }
}

/* START MEDIA 980 */
@media screen and (max-width: 980px) {
  .portfolio-overlay {
    padding-top: 10px;
  }
}

/* END MEDIA 980 */
@media screen and (max-width: 767px) {
  .tm-home-title {
    font-size: 40px;
  }
}

/* START MEDIA 360 */
@media screen and (max-width: 360px) {
  .navbar-default .navbar-brand {
    padding-top: 2px;
  }
}
/* END MEDIA 360 */
